{%extends "base.html.twig"%}
{% block title %}Acceuil | Bienvenue sur boo2code{% endblock %}

{% block body %}

<div class="container mt-4">
<div class="jumbotron">
  <h1 class="display-4">Bonjour!</h1>
  <p class="lead">Bienvenue sur notre application.</p>
  <hr class="my-4">
  <p>Pour commencer a utiliser notre appli web veillez svp vouloir vous inscrire</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire</a>
  </p>
</div>
</div>

{% endblock %}
